@import "less/reset.less";
@import "less/variables.less";
@import "less/mixins.less";
@import "less/theme.less";
@import "less/font.less";
@import "less/iscroll.less";
@import "less/icons.less";
@import "less/metroui.less";
@import "less/htmlcontrols.less";
@import "less/loading.less";
@import "less/detailedview.less";
@import "less/mobiscroll-2.0.2.custom.min.less";
@import "less/mediaqueries.less";

/*#region GENERAL METRO STYLE */
h1, h2, h3, h4, h5, h6       
{
    font-weight: normal !important; .tolower;
    
    &:focus { outline: none; }
}

a, span, div:not(.dw), p {
    .box;
        
    &:focus { outline: none; }
}

h1              { .font-size(37); }
#wrapper3 h1    { font-size: 45px !important; }
h2              { .clear; .font-size(19); line-height: 30px; margin-bottom: 5px; }
h3              { margin: 5px 0 10px; }
h4              { margin-bottom: 5px; }
h5              { margin: 5px 0; }
p               { margin: 0 0 4px; line-height: 21px; }
span.small      { font-size: 13px !important; .size(100%, auto, 20px); }
span.medium     { font-size: 18px !important; }

.uslist .pivot-default  { text-indent: 10px; }
h1.pivot-default        { pointer-events: none; }
h2.title                { .font-size(22px); }

.drag-placeholder       { .show; background: transparent; visibility: visible !important; .size(100%, 50px, 50px); margin: 15px 0; border: 1px dotted #e7e7e7; }
.ui-sortable-helper     { background: transparent; }
.sprint-dates {
    color: #8B8B8B; font-size: 13px; 
    
    &.white { color: #fff; }
}
.inactive {
	color: #A3A3A3;
    
	* { color: #A3A3A3; }
}
.small.accent-bg { padding: 2px 5px; }
#task-list {
    .item { padding-top: 0px !important; margin-bottom: 20px !important; }
}
.project-list {
    .actions.fleft {
        width: 35px; 
        
        .icon-checkbox {
            .position(absolute, 50%); margin-top: -14px;
        }
    }
}
/*#endregion GENERAL METRO STYLE */

/*#region MAIN-HEADER */
.main-header {
    .iblock; .maxsize(75%, 52px); 
    z-index: 450; pointer-events: none; padding: 5px 0 0 10px;
    
	&.main-page {
	    .show; .maxsize(inherit, inherit); .ovisible_; .mauto; .reset-p; .tacenter;
	        
	    h1 { .ohidden; }
	    
	    .subtitle { .relative; }
	}
    
    h1 {
       .position(relative, -5px); 
       line-height: 50px; 
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
    }
}
/*#endregion MAIN-HEADER */

/*#region ONCLICK/HOVER STATES */
.icon-action {
	a, span { 
		&:active    { .opacity(0.7); .scale(0.85); }
	}
}
input.icon-action:active    { .opacity(0.7); .scale(0.85); }

#wrapper .pivot-list .item h2:active   { .opacity(0.2); }
.setting-list h2:not(.noclick):active  { .opacity(0.2); }
.setting-list h2.noclick:hover         { cursor: default !important; }

h2 {
    &.title {
        span:not(.icon-action) 
        {
            &:active { .opacity(0.2); }
        }
    }

    span.value:active { .opacity(0.2); } 
}
/*#endregion ONCLICK/HOVER STATES */

/*#region ANDROID */
/*body.android
{

}*/
/*#endregion ANDROID */

/*#region NOT ANDROID */
body:not(.android)
{
    #metro-tiles .metro-tiles li {
        .transition(0.2s);
        
        &:active { .scale(0.85); }
    }
	
	.main-header, .btn-metro {
	    .transition();
	}

    .pivot-default {
        -webkit-transform: translate3d(200px, 0, 0);
                
        opacity: 0;
        -webkit-transition: opacity 800ms, -webkit-transform 500ms ease-out;
        -webkit-transition-delay: 250ms;

        &.animate {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
        }
    }

    .pivot-default-opacity {
        opacity: 0;
        -webkit-transition: opacity 800ms;

        &.animate {
            opacity: 1;
        }
    }
}
/*#endregion NOT ANDROID */

/*#region ACTIONBAR */
.metro-actionbar {
	.position(absolute, auto, 0, 0, 0); .size(100%, 44px); .tacenter; opacity: 0; .transition(0.4s); pointer-events: none;
    z-index: 100;
    background: rgba(45, 45, 45, 0.9);
    
    -webkit-transition: -webkit-transform 400ms, opacity 400ms;
    -webkit-transform: translateY(38px);
        
    &.opened {
        opacity: 1; pointer-events: all;
        
        -webkit-transition: -webkit-transform 400ms, opacity 400ms;
        -webkit-transform: translateY(0);
    }
    
    ul {
        .iblock; .reset-m; .size(auto, 100%); padding: 7px 0 0 0; 
        
        li { line-height: 25px; .fleft; }
    }
}

#repo-info {
    height: auto; z-index: 50; background: rgba(45, 45, 45, 1); top: 44px; 
    
    ul { padding: 0; }
    p  { .taleft; padding: 0 10px; }
        
    &.opened {
        .transition(); 
        -webkit-transform: translateY(-44px);
    }
}

.abs-right { .position(absolute, auto, 0); }
/*#endregion ACTIONBAR */

/*#region SETTING PAGE */
#settingPage 
{    
    h1              { padding: 0px; margin-bottom: 15px; }
    h2.title        { font-size: 35px; line-height: 35px; margin-bottom: 10px; }
    .btn-large      { max-width: 450px; }
    .scroller-list   
    {
        padding: 0 30px 0 10px !important; 
        
        &.reset { padding: 0 10px !important; }
    }
        
    .setting-list {
        .reset-p; margin: 10px 0 15px;
        
        li {
            .ohidden; .relative;
            margin: 0 0 10px; min-height: 34px;
            
            h2 {
                .ohidden; max-width: 55%; font-size: 24px;
                
                &:hover  { cursor: pointer; }
            }
        }
        
        .top5 { .position(relative, 5px); }
    }
}

.actions {
    &.fright { .position(absolute, 50%, 0); margin-top: -17px; }
    &.fleft  { margin: 10px 15px 0 0; }
                
    .icon-action {
        margin-right: 10px;
                
        /*&:last-child { margin-right: 0px; }*/
    }
}
/*#endregion SETTING PAGE */

/*#region HINTS */
.hint-screen 
{
    .position(absolute, 0, 0, 0, 0);
    background: black;  z-index: 4500;
    
    .container 
    {
        .mauto;
        padding: 20px; max-width: 768px;
    }
    
    .btn-metro { max-width: 450px; margin-top: 25px; }
}

.hint-text 
{
    font-size: 18px; line-height: 25px !important;        
}

.hint-bubble 
{
    @hb-width: 200px;
    
    .position(absolute, -35px, auto, auto, 50%); .size(@hb-width, 30px, 30px); margin-left: -@hb-width / 2;
}
/*#endregion HINTS */

/*#region BURNDOWN */
#burndownChart { margin-bottom: 20px; }
/*#endregion BURNDOWN */