.accent-bg 			{ background-color:#24A0DA; }
.accent-color, a 	{ color:#24A0DA; }

.tile  { background: @metro-done; border: 1px solid lighten(@metro-done, 10%); }
.wide  {
	background: @metro-lightblue; border: 1px solid lighten(@metro-lightblue, 10%);
	
	&.pinned  { background: @metro-lightgreen; border: 1px solid lighten(@metro-lightgreen, 10%); }
}
.accent-bg 		{ color: #fff; }
.theme-bg  		{ background:#000; }
.hint-screen 	{ background: url("@{img-folder}/promo_bg.png") top right black no-repeat; }
div.pivot {
    > span.icon-action {
        .fright;    
    }
}

.theme-black {
	background: black; color: white;

	.metro-loading 	{ background: black; color: white; }
	
	.tile {
		background: @metro-done; border: 1px solid lighten(@metro-done, 10%);
	}
}

.theme-darkblue {
	background: #30508B; color: white;

	.metro-loading { background: #30508B; color: white; }

	.tile { background: @metro-blue; border: 1px solid lighten(@metro-blue, 10%); }
	.wide {
		background: @metro-lightblue; border: 1px solid lighten(@metro-lightblue, 10%);

		&.pinned { background: @metro-orange; border: 1px solid lighten(@metro-orange, 10%); }
	}
}

.theme-darkgray {
	background: #5A5A5A; color: white;

	.metro-loading { background: #5A5A5A; color: white; }
}

.theme-img_1 {
	background: url("@{img-folder}/bg/bg_1.jpg"); color: white;
	
	.metro-loading { background: url("@{img-folder}/bg/bg_1.jpg"); }

	.tile { background: @metro-greenblue; border: 1px solid lighten(@metro-greenblue, 10%); }
	.wide  {
		background: @metro-green; border: 1px solid lighten(@metro-green, 10%);

		&.pinned { background: @metro-orange; border: 1px solid lighten(@metro-orange, 10%); }
	}
}

.theme-img_2 {
	background: url("@{img-folder}/bg/bg_2.jpg"); color: white;
	
	.metro-loading { background: url("@{img-folder}/bg/bg_2.jpg"); }

	.tile { background: @metro-done; border: 1px solid lighten(@metro-done, 5%); }
	.wide  {
		background: @metro-lightblue; border: 1px solid lighten(@metro-lightblue, 10%);

		&.pinned { background: @metro-lightgreen; border: 1px solid lighten(@metro-lightgreen, 5%); }
	}
}
    
.theme-img_3 {
	background: url("@{img-folder}/bg/bg_3.jpg"); color: white;
	
	.metro-loading { background: url("@{img-folder}/bg/bg_3.jpg"); }

	.tile  { background: @metro-blue; border: 1px solid lighten(@metro-blue, 5%); }
	.wide  {
		background: @metro-lightgreen; border: 1px solid lighten(@metro-lightgreen, 10%);

		&.pinned  { background: @metro-done; border: 1px solid lighten(@metro-done, 5%); }
	}
}

.theme-img_4 {
	background: url("@{img-folder}/bg/bg_4.jpg"); color: white;
	
	.metro-loading { background: url("@{img-folder}/bg/bg_4.jpg"); }
}

.theme-img_5 {
	background: url("@{img-folder}/bg/bg_5.jpg"); color: white;
	
	.metro-loading { background: url("@{img-folder}/bg/bg_5.jpg"); }
	
	.tile  { background: @metro-darkorange; border: 1px solid lighten(@metro-darkorange, 10%); }
	.wide  {
		background: @metro-orange; border: 1px solid lighten(@metro-orange, 10%);

		&.pinned  { background: @metro-lightred; border: 1px solid lighten(@metro-lightred, 10%); }
	}
	
	.metro-tiles li {
		&.green 	{ background: #db532d !important; }
		&.lightred  	{ background: #833801; }
	}
}

.theme-img_6 {
	background: url("@{img-folder}/bg/bg_6.jpg"); color: white;
	
	.metro-loading { background: url("@{img-folder}/bg/bg_6.jpg"); }
}

.theme-bg-thumb  { background: url("@{img-folder}/bg/bg_thumb.jpg") no-repeat; }
.thumb-img_1 	{ background-position: 0 0; 	 }
.thumb-img_2 	{ background-position: 0 -30px;  }
.thumb-img_3 	{ background-position: 0 -60px;  }
.thumb-img_4 	{ background-position: 0 -90px;  }
.thumb-img_5 	{ background-position: 0 -120px; }
.thumb-img_6 	{ background-position: 0 -150px; }

/*#region STATES */
.uslist {
    .New.item {
        padding-left: 10px;
	    border-left: 4px solid @colorNew;
	                    
	    .accent-color { color: @colorNew !important; }
	    .accent-bg {
	        background-color: @colorNew !important;
	        color: #fff !important;
	        padding: 2px 5px; margin-right: 5px;
	    }
    }
    .Approved.item {
	    padding-left: 10px;
	    border-left: 4px solid @colorApproved;
	                    
	    .accent-color { color: @colorApproved !important; }
	    .accent-bg {
	        background-color: @colorApproved !important;
	        color: #fff !important;
	        padding: 2px 5px; margin-right: 5px;
	    }
    }
    .Committed.item {
	    padding-left: 10px;
	    border-left: 4px solid @colorCommitted;
	                    
	    .accent-color { color: @colorCommitted !important; }
	    .accent-bg {
	        background-color: @colorCommitted !important;
	        color: #fff !important;
	        padding: 2px 5px; margin-right: 5px;
	    }
    }
}

.To {
	border-left: 4px solid @colorTodo;
	                
	.accent-color { color: @colorTodo !important; }
	.accent-bg {
	    background-color: @colorTodo !important;
	    color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;
	    
	    &:focus { background: white !important; color: Black !important; }
	}
}
.In.Progress.item {
	border-left: 4px solid @colorInprog; 	                
	                
	.accent-color { color: @colorInprog !important; }
	.accent-bg {
	    background-color: @colorInprog !important;
	    color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;
	    
	    &:focus { background: white !important; color: Black !important; }
	}
}
.Done.item {
	border-left: 4px solid @colorDone;
	                
	.accent-color { color: @colorDone !important; }
	.accent-bg {
	    background-color: @colorDone !important;
	    color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;
	    
	    &:focus { background: white !important; color: Black !important; }
	}
}

.Removed.item {
	border-left: 4px solid @colorRemoved;
	                    
	h2 { color: @colorRemoved; .tdthrough; }
	                
	.accent-color { color: @colorRemoved !important; }
	.accent-bg {
	    background-color: @colorRemoved !important;
	    color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;
	    
	    &:focus { background: white !important; color: Black !important; }
	}
}

.In.Progress {
	.accent-bg {
		background-color: @colorInprog !important; 
		color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;
	}
	.accent-color { color: @colorInprog !important; }
	
	&.accent-border {
	    padding-left: 10px;
	    
	    &.left { border-left: 4px solid @colorInprog; }
	}
}
				
.To {
	.accent-bg {
		background-color: @colorTodo !important;
		color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;   
	}
	.accent-color { color: @colorTodo !important; }
	
	&.accent-border {
	    padding-left: 10px;
	    
	    &.left { border-left: 4px solid @colorTodo; }
	}
}

.Done {
	.accent-bg {
		background-color: @colorDone !important;
		color: #fff !important;
	    padding: 2px 5px; margin-right: 5px;
	}
	.accent-color { color: @colorDone !important; }
	
	&.accent-border {
	    padding-left: 10px;
	    
	    &.left { border-left: 4px solid @colorDone; }
	}
}

.task-list {
    .In.Progress {
	    .accent-bg {
		    background-color: @colorInprog !important; 
	    }
	    .accent-color { color: @colorInprog !important; }
    }

    .To {
	    .accent-bg {
		    background-color: @colorTodo !important;
	    }
	    .accent-color { color: @colorTodo !important; }
    }

    .Done {
	    .accent-bg {
		    background-color: @colorDone !important;
	    }
	    .accent-color { color: @colorDone !important; }
    }
    
    .true {
	    border-left: 4px solid @colorBlocked !important;
	    color: @colorRemoved;
	                
	    .accent-color { color: @colorRemoved !important; }
	    .accent-bg {
	        background-color: @colorRemoved !important;
	    }
	}
}